@model IEnumerable<FormBuilder.Models.FormData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> 
                <a asp-action="FormField" asp-route-id="@item.Id" class="btn btn-light">Form Fields</a> 
                <a asp-action="FormCreateField" asp-route-id="@item.Id" class="btn btn-light">Form Create</a> 
                <a asp-action="FormDetails" asp-route-id="@item.Id" class="btn btn-light">Data</a>

            </td>
        </tr>
}
    </tbody>
</table>
